<section class="wrap">
  <header class="header-container">
    <h1>つぶやき投稿 編集</h1>
  </header>
  <main class="main-container">
    <%= render 'form' %>
  </section>
  <footer class="footer-container">
    <p>ばびちゃんプロダクト</p>
  </footer>
</section>
