<html>
  <header>
    <h2>つぶやき一覧</h2>
  </header>
  <body>
    <%= form_with(model: @comment, local: true) do |form| %>
    <table>
      <tr>
        <th>つぶやき内容</th>
      </tr>

      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= link_to "削除", comment_path(comment.id), method: :delete, data: {confirm: "削除しても良いですか？"} %></td>
      </tr>
      <% end %>


    </table>
    <div>
      <%= link_to "新規登録する", new_comment_path %>
    </div>
    <% end %>
  </body>
  <footer>

  </footer>
</html>
