<section class="warp">
  <header class="header-container">
    <h1>つぶやき新規投稿</h1>
  </header>
  <main class="main-container">
    <%= render 'form' %>
  </main>
  <footer class="footer-container">
      <p>ばびちゃんプロダクト</p>
  </footer>
</section>
